* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    text-align: left;
    background-color: #30343F;
    padding: 1em;
    color: #FFFFFF;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
}

header img {
    margin-left: 4em;

}
div img {
    width: 100vw;
    height: 50vh;
}

.container nav {
    margin-left: 4em;

    display: flex;
    gap: 50px;


}

a i{
font-size: 40px;
color: brown;

}